@keyframes navAnime_1{
    0%   {transform: rotate(45deg);}
    25%  {transform: rotate(0deg);}
    50%  {transform: rotate(30deg);}
    100% {transform: rotate(0deg);}
}
@keyframes navAnime_2{
    0%   {top: -6px;}
    25%  {bottom: 0px; top: auto;}
    50%  {top: -3px; bottom: auto;}
    100% {bottom: 0px; top: auto;}
}
@keyframes navAnime_3{
    0%   {font-size: 20px;}
    25%  {font-size: 16px;}
    50%  {font-size: 18px;}
    100% {font-size: 16px;}
}
body,html {
    background-color: $black;
    background-image: url('/../../../static/img/bg.jpg') !important;
    height: 100vh;
    font-family: Arial, Helvetica, Microsoft JhengHei, sans-serif !important;
}
//輪播左右箭頭
.slidenav {
    width: 100% !important;
    margin-left: 0 !important;
    left: 0 !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
    &__item {
        font-size: 4em;
        color: rgba(255, 255, 255, 0.3) !important;
        &:hover {
            color: rgba(255, 255, 255, 0.7) !important;
        }
    }
    &__item--prev {
        transform: rotate(-90deg);
        float: left;
    }
    &__item--next {
        transform: rotate(90deg);
        float: right;
    }
}
.slideshow {
    @include md {
        height: 40vh !important;
        .slide__img {
            background-size: contain !important;
        }
    }
}
.menuBtn {
    display: none;
    @include md {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 31;
        > a {
            width: 50px;
            height: 50px;
            padding: 22.5px 10px;
            display: block;
            box-sizing: border-box;
            border-radius: 50%;
            background-color: #171717;
            span, span::before, span::after {
                width: 100%;
                height: 3px;
                position: relative;
                background-color: #fff;
                display: block;
                transition: all 0.6s ease;
            }
            span {
                &::before, &::after {
                    content: '';
                    position: absolute;
                    
                }
                &::before {
                    margin-top: 10px;
                }
                &::after {
                    margin-top: -10px;
                }
            }
        }
    }
    &.is_active {
        a {
            span {
                background-color: rgba(0, 0, 0, 0);
                &::before {
                    transform: rotate(-45deg);
                    margin-top: 0px;
                }
                &::after {
                    transform: rotate(45deg);
                    margin-top: 0px;
                }
            }
        }
    }
}

.navBar {
    ul {
        background-color: #171717;
        position: relative;
        top: -20px;
        box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.2);
        li {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            list-style: none;
            line-height: 5em;
            position: relative;
            a {
                display: block;
                width: 100%;
                height: 100%;
                transition: 1s all;
                i {
                    width: 25px;
                }
                &:hover {
                    color: $primary;
                    text-decoration: none;
                    .fa-music {
                        animation-name: navAnime_2;
                        animation-duration: 0.5s;
                        position: relative;
                    }
                    .fa-microphone {
                        animation-name: navAnime_1;
                        animation-duration: 0.5s;
                        position: relative;
                    }
                    .fa-eye {
                        animation-name: navAnime_3;
                        animation-duration: 0.5s;
                        position: relative;
                    }
                }
                &.router-link-active {
                    color: $primary;
                }
            }
        }
    }
    @include md {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        max-width: 100%;
        height: 0;
        overflow: hidden;
        transition: 0.4s all;
        background-color: #171717;
        z-index: 30;
        &.is_active {
            height: 100vh;
        }
        ul {
            margin: 80px 0 0 0;
            box-shadow: none;
            padding: 0px;
            li {
                border-bottom: 1px solid #262626;
            }
        }
    }
}
//社群
$iconWidth: 50px;
.community {
    position: absolute;
    z-index: 1;
    right: 30px;
    top: 10px;
    .community_icon {
        float: right;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            top: 0px;
            background-color: transparent;
            box-shadow: none;
            li {
                display: inline-block;
                width: 50px;
                height: 50px;
                font-size: 0;
                border: 0px;
                &.community--weibo a {background-position: left top;}
                &.community--littleRedBook a {background-position: -$iconWidth top}
                &.community--facebook a {background-position: -$iconWidth * 2 top}
                &.community--instagram a {background-position: -$iconWidth * 3 top}
                &.community--youtube a {background-position: -$iconWidth * 4 top}
                a {
                    display: block;
                    height: 100%;
                    background: url('/../../../static/img/communityIcon.png') no-repeat;
                    background-size: cover;
                    opacity: 0.4;
                    transition: 0.4s;
                    &:hover {
                        opacity: 1; 
                        background-position-y: bottom;
                    }
                }
                
            }
        }
    }
    @include md {
        position: relative;
        text-align: center;
        float: left;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        .community_icon {
            float: none;
            display: inline-block;
            ul {
                top: 0;
                li {
                    a{opacity: 0.1;}
                }
            }
        }
    }
}
//類別按鈕
.category {
    margin: 50px auto;
    position: sticky;
    top: 0px;
    background-color: #131313;
    z-index: 1;
    padding: 10px;
    .btn {
        color: #878787;
        border: 2px solid #333333;
        border-right-width: 0px;
        &:last-of-type {
            border-right-width: 2px;
        }
        &:hover {
            color: #ffffff;
            border-color: $primary;
            cursor: pointer;
        }
    }
    .search {
        width: 100%;
        @include xl {
            margin-top: 20px;
        }
        input {
            color: #ffffff;
            background-color: #171717;
            border: 2px solid $primary;
        }
        button {
            color: #ffffff;
        border: 1px solid $primary;
        background-color: $primary;
        }
    }
    .categoryBtn {
        display: none;
    }
    @include xl {
        background-color: transparent;
        position: relative;
        .btn-group {
            flex-direction: column;
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: 0.4s;
            background-color: #121212;
            opacity: 0;
            &.is_active {
                height: auto;
                opacity: 1;
            }
            label {
                border: 1px solid #1b1b1b;
                border-top: 0px;
                margin-left: 0 !important;
                &.active {
                    background-color: transparent !important;
                    color: $primary !important;
                    border-color: #1b1b1b !important;
                }
                &.active, &:focus, &:active, &:hover {
                    box-shadow: none;
                }
            }
        }
        .search {
            margin-top: 0;
        }
        .categoryBtn {
            display: block;
            color: #ffffff;
            border: 2px solid $primary;
            background-color: $primary;
            padding: 5px;
            border-radius: 3px;
            i {
                float: right;
                line-height: 1.5em;
                margin-right: 5px;
                transform: rotate(180deg);
                transition: 0.4s;
            }
            &.is_active {
                i {
                    transform: rotate(0deg);
                }
            }
        }
    }
}

.musicalWork {
    padding: 0 15px;
    min-height: 1000px;
    align-content: start;
    > li {
        list-style: none;
        // height: 430px;
        cursor: pointer;
        @include xl {
            // height: 310px;
        }
        .front, .back {
            border-radius: 0px;
            background: linear-gradient(45deg,  #151515 0%,#3f3f3f 50%, #121212 100%);
        }
        .front {
            @include backgroundImg;
            padding-top: calc(100% * 4 / 4);
            margin: 15px auto;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all 0.4s;
            &::after {
                @include pseudo;
                background-color: rgba(0, 0, 0, 0);
                width: 90%;
                height: 90%;
                top: 5%;
                left: 5%;
                transition: all 0.6s;
            }
            
            & * {
                opacity: 0;
                transition: all 0.4s;
                
            }
            h1, p, a {
                position: relative;
                z-index: 2;
                color: #ffffff;
                width: 100%;
                
            }
            h1 {
                margin: -10px auto 0;
                font-size: 1.2em;
            }
            p {
                font-size: 0.8em;
                margin: 25px auto 5px;
            }
            a {
                background-color: $primary;
                width: auto;
                padding: 8px 26px;
                font-size: 0.7em;
            }
        }
        .back {
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            top: 15px;
            left: 15px;
            position: absolute;
            .inner {
                height: 100%;
                // position: absolute;
            }
            h1 {
                transform: rotate(90deg);
                -webkit-transform-origin-x: 0;
                -webkit-transform-origin-y: 0;
                position: absolute;
                left: 70px;
                top: 0;
                opacity: 0.2;
                font-size: 1.7em;
                @include md {
                    display: none;
                }
            }
            ol.track {
                width: 70%;
                text-align: left;
                font-size: 0.8em;
                line-height: 1.6em;
                display: inline-block;
                padding-left: 20px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                @include xs {
                    width: 90%;
                    font-size: 0.6em;
                    line-height: 1.6em;
                    padding-left: 0;
                    left: -15px;
                }
                li {
                    float: left;
                    width: 100%;
                    list-style-position: inside;
                }
            }
            ul.tarckIcon {
                height: auto;
                width: 30px;
                display: block;
                float: right;
                margin: 0 auto;
                position: absolute;
                bottom: 25px;
                right: 30px;
                li {
                    @include backgroundImg;
                    width: 30px;
                    height: 30px;
                    margin: 0 5px;
                    display: inline-block;
                    background-image: url('/../../../static/img/tarckIcon.png');
                    &.tarckIcon--itunes {
                        background-position-x: 0;
                    }
                    &.tarckIcon--spotify {
                        background-position-x: -30px;
                    }
                    &.tarckIcon--kkbox {
                        background-position-x: calc(-30px * 2);
                    }
                    &.tarckIcon--omusic {
                        background-position-x: calc(-30px * 3);
                    }
                    &.tarckIcon--mymusic {
                        background-position-x: calc(-30px * 4);
                    }
                    &.tarckIcon--youtube {
                        background-position-x: calc(-30px * 5);
                    }
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &:hover, &.is_hover {
            .front {
                
                &::after {
                    background-color: rgba(0, 0, 0, 0.9);
                }
                a {
                    text-decoration: none;
                    transition: all 0.4s;
                    &:hover {
                        background-color: darken($primary, 15%);
                    }
                }
                p {
                    margin-top: 5px;
                }
                h1 {
                    margin: 0px;
                }
                & * {
                    opacity: 1;
                }
            }
        }
    }
}

// 影視作品
.dramaWork {
    padding: 0px;
    min-height: 100vh;
    li {
        list-style: none;
        color: #ffffff;
    .dramaWork--img {
        perspective: 600px;
        > div {
            transform-style: preserve-3d;
            transition: 0.4s;
            transform: translateZ(0px) rotateY(-25deg);
            .dramaWork--img--left {
                width: 50px;
                height: 100%;
                left: -28px;
                position: absolute;
                background-color: #262626;
                -webkit-box-reflect: below 0px -webkit-linear-gradient(transparent 90%,rgba(0,0,0,.3));
                box-reflect: below 0px linear-gradient(transparent 90%,rgba(0,0,0,.3));
                transform: translateZ(-29px) rotateY(-50deg);
                writing-mode: vertical-lr;
                font-size: 1.6em;
                padding: 15px 3px;
            }
            .dramaWork--img--front {
                @include backgroundImg;
                padding-top: calc(100% * 16 / 11);
                -webkit-box-reflect: below 0px -webkit-linear-gradient(transparent 90%,rgba(0,0,0,.3));
                box-reflect: below 0px linear-gradient(transparent 90%,rgba(0,0,0,.3));
                transform: translateZ(0px) rotateY(25deg);
                transition: 0.4s;
            }
            &:hover {
                transform: translateZ(100px) rotateY(0deg);
                .dramaWork--img--front {
                    transform: translateZ(-70px) rotateY(25deg);
                }
            }
        }
    }
        ul {
            float: left;
            width: 100%;
            padding: 10px;
            margin: 20px auto;
            li {
                list-style: none;
                &:first-of-type {
                    float: left;
                    padding: 0 5px;
                    background-color: $primary;
                    border-radius: 5px;
                }
                &:nth-of-type(2) {
                    float: right;
                    color: #969696;
                }
                &:nth-of-type(3) {
                    float: left;
                    width: 100%;
                    font-size: 2em;
                }
                &:nth-of-type(4) {
                    float: left;
                    width: 100%;
                    span {
                        border: 1px solid $primary;
                        border-radius: 3px;
                        padding: 2px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

// 演唱會
.concerTitle {
    color: #ffffff;
    text-align: center;
    h1 {
        margin-bottom: 5px;
        p {
            color: $primary;
            margin: 0 -16px 5px -16px;
            font-size: 1.5em;
            display: inline-block;
            &:before, &:after {
                content: '/';
                color: #333333;
                margin: 0 10px;
            }
        }
    }
    &--data {
        font-size: 1.3em;
        margin-bottom: 5px;
    }
    &--total {
        font-size: 1.3em;
        color: #747474;
        span {
            color: $primary;
        }
    }
}
.concer {
    position: relative;
    color: #ffffff;
    text-align: center;
    @include xs {
        text-align: left;
        padding-left: 20px;
    }
    &::before {
        @include backgroundImg;
        content: '';
        background-image: url('https://upload.cc/i1/2019/04/04/djzfFR.png');
        position: absolute;
        opacity: 0.04;
        background-repeat-y: repeat;
        background-position: top center;
        background-size: contain;
        width: 100%;
        height: 100%;
        display: block;
        right: 0;
        opacity: 0.1;
    }
    i {
        margin: 0 auto;
        width: 100%;
        font-size: 2.5em;
        color: $primary;
        @include xs {
            position: relative;
            left: -14px;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        position: relative;
        display: inline-block;
        width: 1px;
        padding-bottom: 50px;
        &::before {
            @include pseudo;
            width: 1px;
            height: 100%;
            background-color: #666666;
        }
        li {
            &.concer-item {
                display: inline-block;
                white-space: nowrap;
                text-align: left;
                padding-left: 20px;
                position: relative;
                margin-bottom: -20px;
                @include xs {
                    margin-bottom: 15px;
                    padding-left: 30px;
                }
                > span {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 50px;
                    top: 3px;
                    left: -7px;
                }
                p {
                    display: block;
                    float: left;
                    width: 100%;
                    margin: 3px;
                    line-height: 1.2em;
                    @include xs {
                        margin: 0 -14px 5px -16px;
                        font-size: 1.2em;
                    }
                }
                .concer-item--data {
                    width: auto;
                    padding: 0 5px;
                }
                .concer-item--city {
                    font-size: 2.5em;
                    line-height: 1em;
                    margin: 5px 0;
                    display: inline-block;
                    @include xs {
                        margin: 0 -14px 5px -16px;
                    }
                }
                .concer-item--name {
                    display: inline-block;
                    line-height: 1.2em;
                }
                .concer-item--guest {
                    color: #a7a7a7;
                }
                .concer-item--people {
                    color: #a7a7a7;
                    span {
                        color: $primary;
                    }
                }
            }
            @media screen and(min-width: 768px) {
                &:nth-of-type(odd) {
                    text-align: right;
                    padding: 0 20px 0 0;
                    right: 280px;
                    width: 280px;
                    > span {
                        right: -7px;
                        left: auto;
                    }
                    p {
                        float: right;
                    }
                }
            }
        }
    }
}

.goTop {
    color: #ffffff;
    background-color: $primary;
    font-size: 2em;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    &:hover {
        background-color: darken($primary, 15%);
    }
}
footer {
    background-color: #171717;
    float: left;
    width: 100%;
    p {
        margin: 20px auto;
        @include md {
            margin: 10px auto;
        }
    }
}